* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #444;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

input[type="date"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    max-width: 400px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
}

.hidden {
    display: none;
}

#result h2 {
    color: #444;
}

#result p {
    font-size: 18px;
}

#result span {
    font-weight: bold;
}
